<!DOCTYPE html>
<html>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">            
        <title>Motivational Letter Generator</title>

    </head>

<body>

    <nav>
        <a href="{{url_for('auth.register')}}">Register</a>
        <a href="{{url_for('auth.login')}}">Login</a>
    </nav>

    {% block content %} {% endblock %}
    
</body>

<script type="text/javascript" src="{{url_for('static', filename='scripts/utils.js')}}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var fieldsToAnimate = ["left", "right", "age", "about"];
        for (var i = 0; i < fieldsToAnimate.length; i++) {
            animateInputsLabels(fieldsToAnimate[i]);
        }
        $("textarea").val("");
        $("input").val("");
        $(".send-button").val("Send");
    })
</script>

</html>