{% extends "base.html" %}

{% block content %}
    <div class="form-box-main">
        <div class="content-box">
            <form id="user-form" onsubmit="sendDataToEndpoint(event)">
                    <div class="input-box">
                    <label for="name" class="input-label">Name</label>
                    <input class="left-input" id="name" type="text" name="name" placeholder=" " required>

                    <label for="surname" class="input-label" style="left: 280px; text-align: right;">Surname</label>
                    <input class="right-input" id="surname" type="text" value=" " name="surname" placeholder=" " required>
                </div>

                <div class="input-box">
                    <label for="interests" class="input-label">Interests</label>
                    <input class="left-input" id="interests" type="text" name="interests" placeholder=" " required>

                    <label for="language" class="input-label" style="left: 280px;">Language</label>
                    <input class="right-input" id="language" type="text" name="language" placeholder=" " required>
                </div>

                <div class="input-box">
                    <label for="job-title" class="input-label">Job Title</label>
                    <input class="left-input" id="job-title" type="text" name="job-title" placeholder=" "required>

                    <label for="job-link" class="input-label" style="left: 280px;">Job Link</label>
                    <input class="right-input" id="job-link" type="text" name="job-link" placeholder=" "required>
                </div>

                <label for="age" class="input-label" style="left: 630px; top: 72px;">Age</label>
                <input class="age-input" id="age" type="text" name="age" placeholder="" required>

                <label for="about" class="input-label" style="left: 630px; top: 210px;">About</label>
                <textarea class="about-input" id="about" type="text" name="about" placeholder=" " required></textarea>

                <input class="send-button" type="submit" value="Send">
            </form>
        </div>
    </div>
{% endblock %}