<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">            
    </head>

<body>

    <div class="form-box-main">
        <div class="content-box">

        </div>
    </div>

</body>

<script type="text/javascript" src="{{url_for('static', filename='scripts/utils.js')}}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        updateContentBox("fill");
        $("input").val("");
        $(".send-button").val("Send");
    })
</script>
</html>